html {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #efeae5;
}

.wrapper {}

.inner_wrapper {
  width: 980px;
  margin: 70px auto;
}

@media only screen and (max-width: 1080px) {
  .inner_wrapper {
    width: 900px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 900px) {
  .inner_wrapper {
    width: 100%;
    margin: 0;
  }
}

.content_wrapper {
  position: relative;
  background-color: #fffbf8;
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
}

.header {
  height: 330px;
  background-color: rgb(135 170 170 / 59%);
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 1080px) {
  .header {
    height: 280px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    height: 580px;
    padding: 60px 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 70px 0 0 0;
  }
}

.header_text {
  margin: 0 0 0 420px;
  padding: 120px 0 0 0;
}

@media only screen and (max-width: 1080px) {
  .header_text {
    margin: 0 0 0 380px;
    padding: 100px 0 0 0;
  }
}

@media only screen and (max-width: 900px) {
  .header_text {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

h1 {
  color: #000000;
  font-size: 60px;
  margin: 0 0 5px 0;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
}

h2 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 16px;
  }
}

.sidebar {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 900px) {
  .lebenslauf_wrapper {
    padding: 0 30px 30px 30px;
  }
}

@media only screen and (max-width: 480px) {
  .lebenslauf_wrapper {
    padding: 0 15px 15px 15px;
  }
}

@media only screen and (max-width: 360px) {
  .lebenslauf_wrapper {
    padding: 0 10px 10px 10px;
  }
}

.sidebar_left {
  width: 280px;
  height: 2050px;
  background-color: rgb(246 215 167 / 68%);
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  margin: -280px 0 0 50px;
}

@media only screen and (max-width: 1080px) {
  .sidebar_left {
    width: 250px;
    margin: -250px 0 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar_left {
    width: 100%;
    height: auto;
    margin: -380px 0 0 0;
  }
}

.sidebar_foto {
  width: 280px;
  height: 280px;
  background-image: url(../images/foto.jpg);
  background-position: 50%;
  background-size: cover;
}

@media only screen and (max-width: 1080px) {
  .sidebar_foto {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar_foto {
    width: 350px;
    height: 350px;
    margin: 30px auto 0;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar_foto {
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 360px) {
  .sidebar_foto {
    width: 100%;
  }
}

.sidebar_content {
  padding: 55px 30px 30px 30px;
}

@media only screen and (max-width: 1080px) {
  .sidebar_content {
    padding: 45px 20px 20px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar_content {
    padding: 50px 20px 20px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar_content {
    padding: 80px 20px 20px 20px;
  }
}

.sidebar_content_item {
  margin: 0 0 30px 0;
  padding: 0 0 15px 0;
}

.sidebar_content_item:last-of-type {
  border-bottom: 1px solid transparent;
  margin: 0;
}

h3 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 10px 0;
}

.sidebar_content_item table {
  margin: 0 auto;
}

.sidebar_content_item table td {
  height: 28px;
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (max-width: 360px) {
  .sidebar_content_item table td {
    font-size: 14px;
  }
}

.profile table td {
  width: 100%;
}

.contacts table td:nth-of-type(1) {
  width: 40px;
}

.personal table td:nth-of-type(1) {
  width: 110px;
}

.social table {
  margin: 0 auto;
}

.social table td {
  width: 33%;
  padding: 0 5px 0 5px;
}

.social table td a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: 50%;
  cursor: pointer;
}

.sidebar_content_item_icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: 50%;
}

.sidebar_right {
  width: calc(100% - 280px - 60px);
  padding: 55px 35px 35px 35px;
}

@media only screen and (max-width: 1080px) {
  .sidebar_right {
    width: calc(100% - 250px - 35px);
    padding: 40px 75px 20px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .sidebar_right {
    width: 100%;
    padding: 40px 20px 50px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar_right {
    width: 100%;
    padding: 60px 0 50px 0;
  }
}

.sidebar_right_content_item {
  margin: 0 0 30px 0;
}

.sidebar_right_content_item h4 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(246 234 190 / 54%);
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.75);
  margin: 0 0 10px 0;
  padding: 5px;
}

.sidebar_right_content_item table tr td {
  font-size: 16px;
  padding: 5px;
}

.sidebar_right_content_item .employer {
  font-weight: 700;
  display: block;
}

.sidebar_right_content_item .project {
  text-decoration: underline;
}

.sidebar_right_content_item .addition {
  font-style: italic;
}

@media only screen and (max-width: 360px) {
  .sidebar_right_content_item table tr td {
    font-size: 14px;
  }
}

.sidebar_right_content_item table tr td:nth-of-type(1) {
  width: 140px;
}

@media only screen and (max-width: 360px) {
  .sidebar_right_content_item table tr td:nth-of-type(1) {
    width: 120px;
  }
}

.edv {
  width: 100%;
}

.lang table tr td:nth-of-type(1),
.edv table tr td:nth-of-type(1) {
  width: 220px;
}

@media only screen and (max-width: 360px) {
  .lang table tr td:nth-of-type(1),
  .edv table tr td:nth-of-type(1) {
    width: 170px;
  }
}

.color_schema_buttons_wrapper {
  position: absolute;
  right: -48px;
  top: 370px;
}

@media only screen and (max-width: 1080px) {
  .color_schema_buttons_wrapper {
    right: 0;
    top: 282px;
  }
}

@media only screen and (max-width: 900px) {
  .color_schema_buttons_wrapper {
    right: 0;
    top: 600px;
  }
}

@media only screen and (max-width: 360px) {
  .color_schema_buttons_wrapper {
    display: none;
  }
}

.color_schema_button {
  width: 50px;
  height: 50px;
  background-position: 50%;
  background-size: contain;
  border: 2px solid #fffbf8;
  margin: 0 0 3px 0;
}

@media only screen and (max-width: 1080px) {
  .color_schema_button {
    width: 40px;
    height: 40px;
  }
}

.pistachios {
  background-image: url(../images/pistachios.png);
}

.sea {
  background-image: url(../images/sea.png);
}

.cappuchino {
  background-image: url(../images/cappuchino.png);
}

.autumn {
  background-image: url(../images/autumn.png);
}

.bvb {
  background-image: url(../images/bvb.png);
}

.lime {
  background-image: url(../images/lime.png);
}

.summer {
  background-image: url(../images/summer.png);
}

.sun {
  background-image: url(../images/sun.png);
}

.pastel {
  background-image: url(../images/pastel.png);
}